*{
    margin:0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body{
    height: 100vh;
    background: rgb(23,145,115);
background: radial-gradient(circle, rgba(23,145,115,1) 0%, rgba(36,187,150,1) 54%, rgba(23,145,115,1) 98%);
}
.logo{
    max-width: 100px;
}
.search{
    background-color:#93a6b0 !important;
    border: 1px solid black;
    height: 35px;
    width: 150px;
}
.icon{
    max-width: 30px;
}
.icon-button{
    background-color: #93a6b0;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
}
.icon-button:hover{
    background-color:#454e53;
}
a{
    text-decoration: none;
}

.rf-map{
    padding: 0;
}
.analysis-block{
    background-color: #93a6b0;
    border-radius: 5%;
}
.card-content{
    background-color: #93a6b0 !important;
    border-radius: 10% !important;
}

.loader {
    border: 4px solid #f3f3f3; /* Светлый цвет */
    border-top: 4px solid #3498db; /* Голубой цвет */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display: none; /* Скрыть индикатор по умолчанию */
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }