*{
    margin:0;
    padding: 0;
}
body{
    background: rgb(23,145,115);
background: radial-gradient(circle, rgba(23,145,115,1) 0%, rgba(36,187,150,1) 54%, rgba(23,145,115,1) 98%);
}
.logo{
    max-width: 100px;
}
.search{
    background-color:#93a6b0 !important;
    border: 1px solid black;
    height: 35px;
    width: 150px;
}
.icon{
    max-width: 30px;
}
.icon-button{
    background-color: #93a6b0;
width: 45px;
height: 45px;
border: none;
border-radius: 50%;
}
.app{
    height: 100vh;
    width: 100%;

}